/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-button {
  box-shadow: 3px 3px 3px var(--bs-secondary);
}

.challenge-solved {
  background-color: #37d63e !important;
  opacity: 0.6;
  border: none;
}

.challenge-locked {
  background-color: #3662ff !important;
  opacity: 0.6;
  border: none;
}

.challenge-skipped {
  background-color: #ff0000 !important;
  opacity: 0.6;
  border: none;
}
